/*selector universal*/
*{
    padding: 0;
    margin: 0;
}

/*selector de etiqueta*/

body{
    background-color: rgb(51, 121, 45);
    color: rgb(34, 189, 80);
}

/*selector de id*/
#contenedor{
    width: 900px;
    height: 1000px;
    background-color: rgb(151, 190, 41);
    border-radius: 20px;
}

#encabezado{
    width: 70%;
    background-color: brown;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 4%;
    background-color: rgb(188, 196, 159);
    margin: 1em;
    border-radius: 5px;
 

}

ul{
    text-align: center;
    padding: 10px;
}

.texto{
text-align: justify;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
color: black;


}
#contenido {
height: 75%;
width: 55%;
background-color: antiquewhite;
margin: 0.5px;
display: inline-block;
border-radius: 5px;
text-align: center;


}

.log{
width: 50%;
border-radius: 30px;
justify-items: center;


}

.encabezado-articulos{
    padding: 10px;
    text-align: center;
    background-color: rgb(83, 132, 34);
    color: rgb(255, 255, 255);
    margin: 1px, 2px;
    border-radius: 5px;
    
    
}
#futurasacciones{
    height: 90px;
    width: 35px;
    background-color: antiquewhite;
    margin: 0.5px;  
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;

}

.encabezado-acido{
    padding: 18px 10px;
    text-align: center;
    background-color: rgb(89, 161, 81);
    color: white;
    margin: 1px, 2px;

}

