/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1, h2, h3 {
    margin: 5px 0;
}

nav {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    width: fit-content;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #999;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos específicos */
img {
    display: block;
    margin: 0 auto;
}

section {
    margin: 20px;
}

nav ul:nth-child(odd) {
    background-color: #ccc;
}
