
header {
  text-align: center; 
}

h1 {
  margin: 0;
  padding: 20px 0; 
  color: white; 
  background-color: #4CAF50;
  width: 65%;
}

  h2 {
    text-align: center;
  }
  
  
  nav {
  
    background-color: #4CAF50; 
    padding: 20px 0; 
    width: 65%;
    border-top: 2px solid white; 
    border-bottom: 2px solid white; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
  }
  
  nav ul li a:hover {
    background-color: #3e8e41; 
  }
  
  main {
    position: relative; 
    border: 2px solid #000000; 
    padding: 20px; 
    margin: 20px auto; 
    max-width: 800px; 
  }
  
  
  .imagenes {
    display: flex;
    justify-content: center; 
  }
  
  .imagen-container {
    text-align: center;
    margin-right: 20px; 
  }
  
  .imagen {
    width: 150px;
    height: auto;
  }
  
  .imagen-texto {
    margin-top: 10px; 
  }
  
  h4 {
    color: #000000; 
    text-align: justify; 
  }
  
  footer {
    position: absolute; 
    bottom: -60px; 
    left: 0px; 
    width: calc(100% + 4px); 
    margin-left: -2px; 
    background-color: #ff0000; 
    color: #ffffff; 
    text-align: center; 
    padding: 20px 0; 
  }